<footer class="bg-dark text-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; 2024 Juliette's Miracle on St. Nick. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <a href="privacy-policy.html" class="text-light me-3">Privacy Policy</a>
                <a href="terms-of-use.html" class="text-light">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>